@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 70px 100px;
}
.section_title{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px ;
    font-weight: 700;
}
.section_text{
    font-size: 20px;
    line-height: 30px;
}
.menu{
    height: 100px;
    background-color: black;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}
.menu_container{
    float: right;
}
.menu_item{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 20px;
    transition: 0.3s;
}
.menu_item:hover{
    transform: scale(1.1);
    color: red;
    font-weight: 600;
}
.main_section{
    background-image: linear-gradient(#e38f83, #fcc294);
    height: 100vh;
    width: 100%;
}
.main_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    z-index: 10 ;
}
.main_title{
    position: relative;
    font-size: 80px;
    color: white;
    text-shadow: 3px 3px 2px red;
}
.main_content_btn{
    display: block;
    margin: auto;
    width: 280px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: white;
    box-shadow: 7px 7px 2px red;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
}
.main_background{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.circle1{
    position: absolute;
    bottom: 67%;
    left: -3%;
    transform: scale(0.85);
    z-index: 1;
    animation: circle1 4s linear infinite;
}
.circle2{
    position: absolute;
    bottom: 63%;
    right: 0%;
    transform: scale(0.85);
    z-index: 0;
    animation: circle2 4s linear infinite;
}
.circle3{
    position: absolute;
    top: 29%;
    right: 65%;
    transform: scale(0.8);
    z-index: 0;
    animation: circle3 3s linear infinite;
}
.circle-bordered{
    position: absolute;
    top: 80%;
    right: 75%;
    transform: scale(0.85);
    animation: circle-bordered 7s linear infinite;
}
.circle-dashed-border{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: scale(0.85);
    animation: circle-dashed-border 4s linear infinite;
}
.triangle{
    position: absolute;
    top: 20%;
    left: 40%;
    transform: scale(0.8);
    animation: triangle 4s linear infinite; 
}
.octagon{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: scale(0.75);
    animation: octagon 4s linear infinite;
}
.doing{
    background: linear-gradient(6deg, #e38f83 40%, #fcc294 70%, white 70%);
}
.doing_left{
    display: inline-block;
    width: 47%;
    vertical-align: top;
}
.doing_text{
    border-radius: 10px;
    box-shadow: 7px 7px 2px red;
    background-color: white;
    padding: 20px;
}
.doing_right{
    display: inline-block;
    width: 52%;
}
.doing_right img{
    margin: 28px 0 0 0;
    scale: 0.9;
}
.services{
    background: linear-gradient(340deg, white 50%, #e38f83 50%);
    text-align: center;
}
.services_title{
    color: white;
}
.services_cell{
    display: inline-block;
    width: 25%;
    margin: 0 10px;
    background-color: white;
    border: 5px solid #fcc294;
    border-radius: 20px;
    padding: 10px;
    vertical-align: top;
    height: 460px;
}
.section_title1{
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
}
.services_cell img{
    scale: 0.8;
}
.services_hr{
    background-color: #e38f83;
    border: none;
    height: 3px;
    margin: 10px 50px;
}
.advantages{
    position: relative;
}
.advantages_content{
    position: relative;
    z-index: 4;
}
.advantages_card{
    /* width: 800px; */
    max-width: 800px;
    margin: 30px auto;
    border:5px solid #fcc294 ;
    box-shadow: 7px 7px 2px red;
    background-color: white;
    border-radius: 15px;
    padding: 20px 30px;
}
.advantages_list{
    list-style: circle;
    margin-left: 20px ;
}
.advantages_card_title{
    font-size: 25px;
    margin-bottom: 7px;
}
.card1{
    position: relative;
    left: -100px ;
}
.card2{
    position: relative;
    left: 100px;
}
.card3{
    position: relative;
    left: -80px ;
}
.adv_bg{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.advantages_circle{
    scale: 0.8;
    position: absolute;
    right: 0;
    bottom: 0;
}
.advantages_octagon{
    scale: 0.8;
    position: sticky;
    top: 30%;
}
.portfolio_table{
    width: 100%;
    height: 600px;
}
.portfolio_cell{
    border: 3px solid red;
    border-radius: 15px;
    transition: 0.3s;
}
.portfolio_cell:hover{
    transform: scale(0.9);
}
.cell1{
    background-image: url("img/portfolio/site1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cell2{
    background-image: url("img/portfolio/site2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cell3{
    background-image: url("img/portfolio/site3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cell4{
    background-image: url("img/portfolio/site4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.the_end{
    background: linear-gradient(#e38f83,#fcc294);
}
.portfolio_mobile{
    display: none;
}
.portfolio_mobile_cell{
    display: block;
    border: 3px solid red;
    border-radius: 15px;
    width: 100%;
    margin: auto;
    margin-bottom: 10px ;
}


















@keyframes circle1{
    0%{
        filter: brightness(100%) contrast(1);
    }
    50%{
        filter: brightness(300%) contrast(10);
    }
    100%{
        filter: brightness(100%) contrast(1);
    }
}
@keyframes circle2{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes circle3{
    0%{
        transform: translateY(0) rotate(0);
    }
    50%{
        transform: translateY(-20%) rotate(180deg);
    }
    100%{
        transform: translateY(0) rotate(360deg);
    }
}
@keyframes circle-bordered{
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(1000px, -600px);
    }
    100%{
        transform: translate(0, 0);
    }
}
@keyframes circle-dashed-border{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes triangle{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes octagon{
    0%{
        transform: translate(0, 0) rotate(0);
    }
    50%{
        transform: translate(8px, 200px) rotate(180deg);
    }
    100%{
        transform: translate(0, 0) rotate(360deg);
    }
}
@media(max-width:768px){
    .menu{
        width: 100%;
        height: fit-content;
    }
    .logo{
        width: 150px;
    }
    .menu_item{
        display: block;
    }
    .main_title{
        font-size: 40px;
        text-align: center;
    }
    .main_content_btn{
        width: 180px;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        box-shadow: 4px 4px 2px red;
    }
    .section_title{
        font-size: 30px;
    }
    .section_text{
        font-size: 16px;
        line-height: 22px;
    }
    .doing_left{
        display: block;
        width: 100%;
    }
    .doing_right{
        display: block;
        width: 100%;
    }
    .doing_text{
        border: 1px solid red;
    }
    .services_cell{
        display: block;
        width: 100%;
        margin-top: 15px;
    }
    .services_hr{
        margin: 10px 120px;
    }
    .advantages_card{
        width: 100%;
        height: 180px;
        padding-top: 30px;
        box-shadow: 0px 7px 2px red ;
    }
    .card1{
        position: relative;
        left: 0 ;
    }
    .card2{
        position: relative;
        left: 0;
    }
    .card3{
        position: relative;
        left: 0 ;
    }
    .advantages_octagon{
        position: absolute;
        width: 500px ;
        right: 50%;
        transform: translateX(50%);
    }
    .portfolio_mobile{
        display: block;
    }
    .portfolio_table{
        display: none;
        width: 100%;
        height: 600px;
    }
}